.comingWeather {
  width: calc(23% - 20px);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .comingWeather-temp {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-left: 15px;
  }

  .comingWeather-description {
    font-size: 20px;
    font-weight: inherit;
    margin-bottom: 20px;
  }

  .comingWeather-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 70px;
    }
  }
}
