.currentWeather {
  background-color: rgba(255, 255, 255, 0.4);
  width: calc(100% - 20px);
  margin-top: 20px;
  border-radius: 2px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .currentWeather-city {
    font-size: 24px;
  }

  .currentWeather-temp {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }

  .currentWeather-description {
    font-size: 20px;
    font-weight: inherit;
  }

  .currentWeather-info {
    display: flex;
    justify-content: space-between;

    div {
      margin: 10px;
    }
  }
}
