.App {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 65%;
  margin: auto;
}

.wrapWeather {
  display: flex;
  flex-direction: column;
}

.wrapComingWeather {
  display: flex;
  justify-content: space-between;
}
